.gridLessonContainer {
  width: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 5px;
}

.gridLessonContainer a {
  text-decoration: none;
}

.gridLessonContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(115, 96, 255);
  color: white;
}

.homework {
  background-color: rgb(242, 177, 73) !important;
}

.gridLessonContainer div:hover {
  background-color: rgb(196, 188, 255);
}

.homework:hover {
  background-color: rgb(242, 207, 151) !important;
}
